/* Change here for changing the property */
$font-family: "Roboto Mono",
monospace;
$font-weight: 600;
$font-size: 1.2rem;
$input-font-size: 1.5rem;
$on-focus-input-font-size: 2rem;
$display-layout: flex;
$flex-direction: column;
$text-color: rgba(0, 0, 0, 0.7);
$on-focus-text-color: rgba(0, 0, 0, 1);
$justify-content: center;
$align-items: center;
$height: 100vh;
$flex-wrap: wrap;
$bottom-border: 1px solid rgba(0, 0, 0, 0.3);
$bottom-border-focus: 2px solid rgba(0, 0, 0, 1);
$transition-property: all;
$transition-duration: 0.2s;
$transition-timing-function: ease-in-out;
$on-focus-transform: scale(1.05);

/* Do not change below this point */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
}

.container {
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: $font-weight;
    font-style: normal;
    display: $display-layout;
    flex-direction: $flex-direction;
    color: $text-color;
    font-size: $font-size;

    >* {
        align-self: flex-start;
    }

    >input {
        border: none;
        border-bottom: $bottom-border;
        padding: 0.25rem 0.5rem;
        font-size: $input-font-size;
        transition: $transition-property $transition-duration $transition-timing-function;

        &:focus {
            outline: none;
            border-bottom: $bottom-border-focus;
            transform: $on-focus-transform;
            font-size: $on-focus-input-font-size;
            color: $on-focus-text-color;
        }
    }
}